{
  "swagger": "2.0",
  "info" : {
    "description" : "<h1>Loan Origination API Documentation<\/h1>\r\n<h2>Required API<\/h2>\r\n<p>This section references REST and SOAP required API and their related JSON and XML data types.<\/p>",
    "version" : "4.6.0-rc03649.006.001-SNAPSHOT",
    "title" : "Loan Origination API Documentation 4.6.0-rc036 - Required API"
  },
  "host" : "www.soprabanking.com",
  "basePath" : "/platform",
  "schemes" : [],
  "tags" : [
    {
      "name" : "IActorRestProvider"
      ,
      "description" : "This resource represent required resource for an external third party system."
    }
    ,
    {
      "name" : "IDealCollateralTransferRestProvider"
    }
    ,
    {
      "name" : "IDealTransferRestProvider"
    }
    ,
    {
      "name" : "IEDMSRestProvider"
    }
  ],
  "definitions" : {
    "json_AbstractBaseVO" : {
      "type" : "object",
      "title" : "AbstractBaseVO",
          "properties" : {
            "actionMode" : {
            "readOnly" : false,
"description" : "Technical flag that returns the current mode of the VO: '+' (added), '*' (modified), '-' (deleted), '/' (deleted after modification)",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_AbstractCRUDVO" : {
      "type" : "object",
      "title" : "AbstractCRUDVO",
          "properties" : {
            "action" : {
            "readOnly" : false,
"description" : "Technical flag that returns the current mode of the VO: '+' (added), '*' (modified), '-' (deleted)",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActCreditInfoSpecificSearchVO" : {
      "type" : "object",
      "title" : "ActCreditInfoSpecificSearchVO",
          "properties" : {
            "kfbbadiinformationinqureylist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_KfbBadIinformationInqureyVO"
}
            },
            "badcredit_date" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "kfbloaninfolist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_KfbLoanInfoVO"
}
            },
            "nicetransactioninformationlist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_NiceTransactionInformationVO"
}
            },
            "shortTermBadCreditList" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShortTermBadCreditVO"
}
            },
            "nicescoreandgradelist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_NiceScoreAndgradeVO"
}
            },
            "cbrspecific2list" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_Cbrspecific2VO"
}
            },
            "kfbcardregistrationlist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_KfbcardRegistrationVO"
}
            },
            "niceinquiryhistoryinformationlist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_NiceInquiryHistoryInformationVO"
}
            },
            "badCreditBankAllianceList" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BadCreditBankAllianceVO"
}
            },
            "cbrspecific1list" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_Cbrspecific1VO"
}
            },
            "niceandkfbinfolist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_NiceAndKFBInfoVO"
}
            },
            "niceoverdueinformationlist" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_NiceOverdueInformationVO"
}
            }
          },
      "description" : ""
    }
    ,
    "json_ActRedFlagVO" : {
      "type" : "object",
      "title" : "ActRedFlagVO",
          "properties" : {
            "memo" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "actnom" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "registerby" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inputcategorylibelle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "balance" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "registerbydep" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "enddate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "updatedate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "tbaid" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "actid" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "organisationcodelibelle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "actcode" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "reasonlibelle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "registrationdate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "updatebydep" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "organisationcode" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "updateby" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "reason" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "actsiret" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "loanamount" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "inputcategory" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "releasedate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "fraorder" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "flaghistory" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "description" : ""
    }
    ,
    "json_ActTabVO" : {
      "type" : "object",
      "title" : "ActTabVO",
          "properties" : {
            "tabcode" : {
            "readOnly" : false,
"description" : "Attribute code",
"type" : "string"
            },
            "atbvaleur" : {
            "readOnly" : false,
"description" : "Attributes values",
"type" : "string"
            },
            "paycode" : {
            "readOnly" : false,
"description" : "Country code",
"type" : "string"
            },
            "atbdtvalid" : {
            "readOnly" : false,
"description" : "Start Date of validity",
"type" : "string"
            },
            "atbdtfin" : {
            "readOnly" : false,
"description" : "End date of validity",
"type" : "string"
            },
            "atbdtsaisie" : {
            "readOnly" : false,
"description" : "Attribute input date",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorAddressVO" : {
      "type" : "object",
      "title" : "ActorAddressVO",
          "properties" : {
            "uticode" : {
            "readOnly" : false,
"description" : "User code",
"type" : "string"
            },
            "paycode" : {
            "readOnly" : false,
"description" : "Country code",
"type" : "string"
            },
            "adrbldgsub" : {
            "readOnly" : false,
"description" : "Adrbldgsub",
"type" : "string"
            },
            "aaddtdeb" : {
            "readOnly" : false,
"description" : "Start date",
"type" : "string"
            },
            "adrtype" : {
            "readOnly" : false,
"description" : "Address type",
"type" : "string"
            },
            "aadchannel" : {
            "readOnly" : false,
"description" : "Address in flow channel",
"type" : "string"
            },
            "creid" : {
            "readOnly" : false,
"description" : "Event ID",
"type" : "number"
            },
            "adrcedex" : {
            "readOnly" : false,
"description" : "Cedex code",
"type" : "string"
            },
            "adrbatiment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aadflagfacturation" : {
            "readOnly" : false,
"description" : "Flag invoicing address",
"type" : "boolean"
            },
            "adrapptnew" : {
            "readOnly" : false,
"description" : "Floor room new format",
"type" : "string"
            },
            "adrbldgmain" : {
            "readOnly" : false,
"description" : "Adrbldgmain",
"type" : "string"
            },
            "adrappt" : {
            "readOnly" : false,
"description" : "Apartment number",
"type" : "string"
            },
            "adrvillenew" : {
            "readOnly" : false,
"description" : "City new format",
"type" : "string"
            },
            "adrcodepostnew" : {
            "readOnly" : false,
"description" : "Postal code new format",
"type" : "string"
            },
            "aadtype" : {
            "readOnly" : false,
"description" : "Address type",
"type" : "string"
            },
            "adrid" : {
            "readOnly" : false,
"description" : "Address ID",
"type" : "number"
            },
            "adrtown" : {
            "readOnly" : false,
"description" : "Town",
"type" : "string"
            },
            "adrsubregion" : {
            "readOnly" : false,
"description" : "Regional subdivison",
"type" : "string"
            },
            "adrbatimentnew" : {
            "readOnly" : false,
"description" : "Building name new format",
"type" : "string"
            },
            "tuplibelle" : {
            "readOnly" : false,
"description" : "Description",
"type" : "string"
            },
            "adrcodepost" : {
            "readOnly" : false,
"description" : "Postal code",
"type" : "string"
            },
            "aadcompl" : {
            "readOnly" : false,
"description" : "Address complement",
"type" : "string"
            },
            "adrvoienew" : {
            "readOnly" : false,
"description" : "Street new format",
"type" : "string"
            },
            "listcustomcharacteristic" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomCharacteristicVO"
}
            },
            "adrcedexnew" : {
            "readOnly" : false,
"description" : "Bloc number new format",
"type" : "string"
            },
            "adrdistrictnew" : {
            "readOnly" : false,
"description" : "District new format",
"type" : "string"
            },
            "adrville" : {
            "readOnly" : false,
"description" : "City",
"type" : "string"
            },
            "adrrange" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aadordre" : {
            "readOnly" : false,
"description" : "Address occurrence number",
"type" : "number"
            },
            "adrstreetcodeseq" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aadflagcourrier" : {
            "readOnly" : false,
"description" : "Flag mail address",
"type" : "boolean"
            },
            "pretype" : {
            "readOnly" : false,
"description" : "type of region(administrative internal etc)",
"type" : "string"
            },
            "precode" : {
            "readOnly" : false,
"description" : "Region or State code",
"type" : "string"
            },
            "adrlatitudecardinal" : {
            "readOnly" : false,
"description" : "Latitude cardinal reference",
"type" : "string"
            },
            "adrstreetnumber" : {
            "readOnly" : false,
"description" : "street number",
"type" : "string"
            },
            "adrlieudit" : {
            "readOnly" : false,
"description" : "Locality or named place",
"type" : "string"
            },
            "adrtaxarea" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "adrmsacode" : {
            "readOnly" : false,
"description" : "MSA code",
"type" : "string"
            },
            "aadflagsiege" : {
            "readOnly" : false,
"description" : "Flag head office address",
"type" : "boolean"
            },
            "adrvoie" : {
            "readOnly" : false,
"description" : "Name of road",
"type" : "string"
            },
            "aaddtremplace" : {
            "readOnly" : false,
"description" : " Replacement date",
"type" : "string"
            },
            "adrlatitude" : {
            "readOnly" : false,
"description" : "Latitude angle",
"type" : "number"
            },
            "adrdtmaj" : {
            "readOnly" : false,
"description" : "Update date",
"type" : "string"
            },
            "aadflaglivraison" : {
            "readOnly" : false,
"description" : "Flag delivery address",
"type" : "boolean"
            },
            "cblorder" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "adrlongitudecardinal" : {
            "readOnly" : false,
"description" : "Longitude cardinal reference",
"type" : "string"
            },
            "adrlongitude" : {
            "readOnly" : false,
"description" : "Longitude angle",
"type" : "number"
            },
            "adrdistrict" : {
            "readOnly" : false,
"description" : "District",
"type" : "string"
            },
            "adrsubregionnew" : {
            "readOnly" : false,
"description" : "Regional subdivison new format",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorAllocationPriorityVO" : {
      "type" : "object",
      "title" : "ActorAllocationPriorityVO",
          "properties" : {
            "tpgcode" : {
            "readOnly" : false,
"description" : "Product code",
"type" : "string"
            },
            "aroenvoinotice" : {
            "readOnly" : false,
"description" : "Notices means of transfer",
"type" : "string"
            },
            "aapprioritylevel" : {
            "readOnly" : false,
"description" : "Priority level",
"type" : "number"
            },
            "aapmethod" : {
            "readOnly" : false,
"description" : "Sorting method",
"type" : "string"
            },
            "rubid" : {
            "readOnly" : false,
"description" : "Financial element ID",
"type" : "number"
            },
            "aroformatsortie" : {
            "readOnly" : false,
"description" : "Output format",
"type" : "string"
            },
            "aapordre" : {
            "readOnly" : false,
"description" : "Actor allocation priority occurrence number",
"type" : "number"
            },
            "aromultiple" : {
            "readOnly" : false,
"description" : "Period multiple",
"type" : "number"
            },
            "aroeditfac" : {
            "readOnly" : false,
"description" : "Type of invoice printing",
"type" : "string"
            },
            "taccode" : {
            "readOnly" : false,
"description" : "Contract business type code",
"type" : "string"
            },
            "aapnature" : {
            "readOnly" : false,
"description" : "Nature of allocation",
"type" : "string"
            },
            "arogrpdec" : {
            "readOnly" : false,
"description" : "Automatic toting up with outlays",
"type" : "boolean"
            },
            "rubcode" : {
            "readOnly" : false,
"description" : "Element code",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorAscendingRelationshipVO" : {
      "type" : "object",
      "title" : "ActorAscendingRelationshipVO",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_ActorRelationshipVO"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_ActorAssentAttributeVO" : {
      "type" : "object",
      "title" : "ActorAssentAttributeVO",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractBaseVO"
        },
        {
          "properties" : {
            "aasorder" : {
            "readOnly" : false,
"description" : "Actor's assent's occurrence number",
"type" : "number"
            },
            "aatstringvalue" : {
            "readOnly" : false,
"description" : "Value of the attribute",
"type" : "string"
            },
            "aatcode" : {
            "readOnly" : false,
"description" : "Code of the attribute",
"type" : "string"
            },
            "aatbooleanvalue" : {
            "readOnly" : false,
"description" : "Value of the attribute",
"type" : "number"
            },
            "aatdtvalue" : {
            "readOnly" : false,
"description" : "Date value of the attribute",
"type" : "string"
            },
            "aatnumericvalue" : {
            "readOnly" : false,
"description" : "Numeric value of the attribute",
"type" : "number"
            },
            "aatorder" : {
            "readOnly" : false,
"description" : "Actor's assent's attribute occurrence number",
"type" : "number"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ActorAssentMarketPartnerVO" : {
      "type" : "object",
      "title" : "ActorAssentMarketPartnerVO",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractBaseVO"
        },
        {
          "properties" : {
            "actcode" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTCODE",
"type" : "string"
            },
            "actsiret" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTSIRET",
"type" : "string"
            },
            "ampflagemail" : {
            "readOnly" : false,
"description" : "Flag email",
"type" : "boolean"
            },
            "ampflagtm" : {
            "readOnly" : false,
"description" : "Flag Tele marketing",
"type" : "boolean"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "ampflagdm" : {
            "readOnly" : false,
"description" : "Flag direct email",
"type" : "boolean"
            },
            "actlibcourt" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTLIBCOURT",
"type" : "string"
            },
            "rolcode" : {
            "readOnly" : false,
"description" : "Role code (coming from ROLE.ROLCODE)",
"type" : "string"
            },
            "aasorder" : {
            "readOnly" : false,
"description" : "Actor's assent's occurrence number",
"type" : "number"
            },
            "ampflagmisc" : {
            "readOnly" : false,
"description" : "Flag Others",
"type" : "boolean"
            },
            "ampflagsms" : {
            "readOnly" : false,
"description" : "flag SMS",
"type" : "boolean"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ActorAssentVO" : {
      "type" : "object",
      "title" : "ActorAssentVO",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractBaseVO"
        },
        {
          "properties" : {
            "dosnum" : {
            "readOnly" : false,
"description" : "External ID of the contract (the one shown in Back Office) ",
"type" : "string"
            },
            "listactorassentattribute" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorAssentAttributeVO"
}
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID          ",
"type" : "number"
            },
            "aasdtupdate" : {
            "readOnly" : false,
"description" : "Date of last update for the assent",
"type" : "string"
            },
            "aasorder" : {
            "readOnly" : false,
"description" : "Actor's assent's occurrence number",
"type" : "number"
            },
            "aasstatus" : {
            "readOnly" : false,
"description" : "Assent status",
"type" : "string"
            },
            "listactorassentmarketpartner" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorAssentMarketPartnerVO"
}
            },
            "aasdtstart" : {
            "readOnly" : false,
"description" : "Start date of the assent",
"type" : "string"
            },
            "aastypename" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dosidprospect" : {
            "readOnly" : false,
"description" : "Deal ID (coming from DOSSIERPROSPECT.DOSID)",
"type" : "number"
            },
            "aastype" : {
            "readOnly" : false,
"description" : "Type of assent",
"type" : "string"
            },
            "aasmethod" : {
            "readOnly" : false,
"description" : "Method",
"type" : "string"
            },
            "dosid" : {
            "readOnly" : false,
"description" : "Contract ID (coming from DOSSIER.DOSID)",
"type" : "number"
            },
            "aaschannel" : {
            "readOnly" : false,
"description" : "Channel through which the customer gave the assent",
"type" : "string"
            },
            "aasdtend" : {
            "readOnly" : false,
"description" : "End date of the assent",
"type" : "string"
            },
            "aasreason" : {
            "readOnly" : false,
"description" : "Assent reason",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ActorBankAccountVO" : {
      "type" : "object",
      "title" : "ActorBankAccountVO",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractBaseVO"
        },
        {
          "properties" : {
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID",
"type" : "number"
            },
            "devcode" : {
            "readOnly" : false,
"description" : "Contract currency code",
"type" : "string"
            },
            "ariflagpreferred" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "rinvalremhp" : {
            "readOnly" : false,
"description" : "Cheque value date outside local area",
"type" : "number"
            },
            "paylibelle" : {
            "readOnly" : false,
"description" : "Description(LANPAYS.PAYLIBELLE)",
"type" : "string"
            },
            "rinbrdchqsp" : {
            "readOnly" : false,
"description" : "Paying in slip number for local cheques",
"type" : "number"
            },
            "ribid" : {
            "readOnly" : false,
"description" : "Bank account ID",
"type" : "number"
            },
            "rinforcevir" : {
            "readOnly" : false,
"description" : "Flag Credit transfer is forced",
"type" : "boolean"
            },
            "aridtremplace" : {
            "readOnly" : false,
"description" : "Date of replacement of the bank account (if NULL, this account is still available) ",
"type" : "string"
            },
            "ribcompte" : {
            "readOnly" : false,
"description" : "Bank account number",
"type" : "string"
            },
            "rinvalvir" : {
            "readOnly" : false,
"description" : "Bank transfer value date",
"type" : "number"
            },
            "rinvalchq" : {
            "readOnly" : false,
"description" : "Cheque value date",
"type" : "number"
            },
            "aricodebank" : {
            "readOnly" : false,
"description" : "Code given by the bank",
"type" : "string"
            },
            "bgubanque" : {
            "readOnly" : false,
"description" : "Bank code",
"type" : "string"
            },
            "ribflagvirtual" : {
            "readOnly" : false,
"description" : "Virtual Account Check",
"type" : "boolean"
            },
            "bgucodeinterbancaire" : {
            "readOnly" : false,
"description" : "New Inter Bank",
"type" : "string"
            },
            "aridtdeb" : {
            "readOnly" : false,
"description" : "Start date",
"type" : "string"
            },
            "bguguichet" : {
            "readOnly" : false,
"description" : "Bank branch code",
"type" : "string"
            },
            "paycode" : {
            "readOnly" : false,
"description" : "Country code (coming from PAYS.PAYCODE)",
"type" : "string"
            },
            "ribaccounttype" : {
            "readOnly" : false,
"description" : "Account type",
"type" : "string"
            },
            "iban" : {
            "readOnly" : false,
"description" : "IBAN (Country code + check digit + basic bank account number",
"type" : "string"
            },
            "actnom" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTNOM",
"type" : "string"
            },
            "rinbrdprl" : {
            "readOnly" : false,
"description" : "Direct debit paying in slip number",
"type" : "number"
            },
            "rindelaiv" : {
            "readOnly" : false,
"description" : "Bank transfer notice period",
"type" : "number"
            },
            "actcode" : {
            "readOnly" : false,
"description" : "External code for Actor ID",
"type" : "string"
            },
            "bguguichetinvariant" : {
            "readOnly" : false,
"description" : "Bank branch code",
"type" : "string"
            },
            "ribcle" : {
            "readOnly" : false,
"description" : "Bank account security number",
"type" : "string"
            },
            "rindelaip" : {
            "readOnly" : false,
"description" : "Direct debit notice period",
"type" : "number"
            },
            "banlibelle" : {
            "readOnly" : false,
"description" : "Bank name",
"type" : "string"
            },
            "ribibancle" : {
            "readOnly" : false,
"description" : "IBAN security number",
"type" : "number"
            },
            "aritype" : {
            "readOnly" : false,
"description" : "Type of Bank account (Collection, disbursment)",
"type" : "string"
            },
            "ribintitule" : {
            "readOnly" : false,
"description" : "Name of account",
"type" : "string"
            },
            "rinvalremsp" : {
            "readOnly" : false,
"description" : "Cheque value date local area",
"type" : "number"
            },
            "rinforceprl" : {
            "readOnly" : false,
"description" : "Flag Direct debit is forced",
"type" : "boolean"
            },
            "rinbrdchqhp" : {
            "readOnly" : false,
"description" : "Paying in slip for cheques from remote locations",
"type" : "number"
            },
            "rinbrdvir" : {
            "readOnly" : false,
"description" : "Credit transfer paying out slip number",
"type" : "number"
            },
            "bguflagvirtual" : {
            "readOnly" : false,
"description" : "Flag virtual account. If 1 all the accounts of the branch  will be calculated by the software from min value to max value",
"type" : "boolean"
            },
            "listactorsepamandatevo" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorSEPAMandateVO"
}
            },
            "rinvalprl" : {
            "readOnly" : false,
"description" : "Direct debit value date",
"type" : "number"
            },
            "listcustomcharacteristic" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomCharacteristicVO"
}
            },
            "ribibancompte" : {
            "readOnly" : false,
"description" : "IBAN account",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ActorBillingCenterVO" : {
      "type" : "object",
      "title" : "ActorBillingCenterVO",
          "properties" : {
            "aundtendtmpcode" : {
            "readOnly" : false,
"description" : "Payment method end date",
"type" : "string"
            },
            "aundelaipmt" : {
            "readOnly" : false,
"description" : "Grace period for payment (due date)",
"type" : "string"
            },
            "aungrpdec" : {
            "readOnly" : false,
"description" : "Disbursement grouping",
"type" : "number"
            },
            "aunraison2" : {
            "readOnly" : false,
"description" : "ACTUNITE.AUNRAISON2",
"type" : "string"
            },
            "aunjourdec" : {
            "readOnly" : false,
"description" : "Number of days or fixed date to pay out",
"type" : "number"
            },
            "aunquantiemefac" : {
            "readOnly" : false,
"description" : "Day in the month for invoicing",
"type" : "string"
            },
            "listcustomcharacteristic" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomCharacteristicVO"
}
            },
            "tmpcode" : {
            "readOnly" : false,
"description" : "Payment method code",
"type" : "string"
            },
            "acoordre" : {
            "readOnly" : false,
"description" : "Actor's correspondant's occurrence number",
"type" : "number"
            },
            "aunperiode" : {
            "readOnly" : false,
"description" : "Invoicing periodicity",
"type" : "string"
            },
            "aunflagalarmservice" : {
            "readOnly" : false,
"description" : "Flag alarm service",
"type" : "boolean"
            },
            "aunordre" : {
            "readOnly" : false,
"description" : "Invoice centre occurrence number",
"type" : "number"
            },
            "tmpcodedec" : {
            "readOnly" : false,
"description" : "Supplier's Payment method code",
"type" : "string"
            },
            "ateordre" : {
            "readOnly" : false,
"description" : "Telecom Order",
"type" : "number"
            },
            "aungrpprl" : {
            "readOnly" : false,
"description" : "Direct debit grouping",
"type" : "boolean"
            },
            "aungrpfac" : {
            "readOnly" : false,
"description" : "Invoice grouping",
"type" : "number"
            },
            "aunfacavance" : {
            "readOnly" : false,
"description" : "Invoicing offset",
"type" : "number"
            },
            "auncommentdec" : {
            "readOnly" : false,
"description" : "Disbursement comment",
"type" : "string"
            },
            "auncomment" : {
            "readOnly" : false,
"description" : "Comment",
"type" : "string"
            },
            "aunrecapfac" : {
            "readOnly" : false,
"description" : "Recap of invoice",
"type" : "string"
            },
            "ribid" : {
            "readOnly" : false,
"description" : "Bank account ID",
"type" : "number"
            },
            "aundtfin" : {
            "readOnly" : false,
"description" : "Valid to date",
"type" : "string"
            },
            "aundtdeb" : {
            "readOnly" : false,
"description" : "Valid from date",
"type" : "string"
            },
            "tmplibelle" : {
            "readOnly" : false,
"description" : "LANTMOYENPMT.TMPLIBELLE",
"type" : "string"
            },
            "auninvoicecode" : {
            "readOnly" : false,
"description" : "Invoice center number",
"type" : "string"
            },
            "actidgestion" : {
            "readOnly" : false,
"description" : "Company actor ID",
"type" : "number"
            },
            "aundelaipmtdec" : {
            "readOnly" : false,
"description" : "Grace period for payment out",
"type" : "string"
            },
            "aununite" : {
            "readOnly" : false,
"description" : "External reference",
"type" : "number"
            },
            "aunintitule" : {
            "readOnly" : false,
"description" : "Name of the invoice centre",
"type" : "string"
            },
            "aunregleclient" : {
            "readOnly" : false,
"description" : "Customer fiscal rule",
"type" : "string"
            },
            "ribiddec" : {
            "readOnly" : false,
"description" : "Supplier's Bank account ID",
"type" : "number"
            },
            "aunjour" : {
            "readOnly" : false,
"description" : "Number of days or fixed date",
"type" : "number"
            },
            "acoordredec" : {
            "readOnly" : false,
"description" : "Supplier's Correspondant occurrence number",
"type" : "number"
            },
            "aunmultiple" : {
            "readOnly" : false,
"description" : "Period multiple",
"type" : "number"
            },
            "aunbasedepartdec" : {
            "readOnly" : false,
"description" : "Start date type for disbursement due date calculation",
"type" : "string"
            },
            "aadordre" : {
            "readOnly" : false,
"description" : "Address occurrence number",
"type" : "number"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "creid" : {
            "readOnly" : false,
"description" : "Event ID",
"type" : "number"
            },
            "aunraison1" : {
            "readOnly" : false,
"description" : "ACTUNITE.AUNRAISON1",
"type" : "string"
            },
            "aunnoticemethodsend" : {
            "readOnly" : false,
"description" : "Billing statement sending method",
"type" : "string"
            },
            "aundtstarttmpcode" : {
            "readOnly" : false,
"description" : "Payment method registration date",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorCompanyBuyoutPenaltyVO" : {
      "type" : "object",
      "title" : "ActorCompanyBuyoutPenaltyVO",
          "properties" : {
            "araordre" : {
            "readOnly" : false,
"description" : "MBuy out occurrence number",
"type" : "number"
            },
            "aratypepenaliteachat" : {
            "readOnly" : false,
"description" : "Type of penalty for buy out option",
"type" : "string"
            },
            "taccode" : {
            "readOnly" : false,
"description" : "Contract business type code",
"type" : "string"
            },
            "aramtforfaitachat" : {
            "readOnly" : false,
"description" : "Lump sum added to the outstanding capital subjected to penalty",
"type" : "number"
            },
            "tpgcode" : {
            "readOnly" : false,
"description" : "Product code",
"type" : "string"
            },
            "arapctpenaliteachat" : {
            "readOnly" : false,
"description" : "Penalty percentage of the outstanding capital",
"type" : "number"
            },
            "aradtdeb" : {
            "readOnly" : false,
"description" : "Validity start date",
"type" : "string"
            },
            "arapenaltytype" : {
            "readOnly" : false,
"description" : "Penalty type",
"type" : "string"
            },
            "aradtfin" : {
            "readOnly" : false,
"description" : "Validity end date",
"type" : "string"
            },
            "aranbmois" : {
            "readOnly" : false,
"description" : "Number of month",
"type" : "number"
            },
            "arapctmaxbuyout" : {
            "readOnly" : false,
"description" : "Max percentage of prepaid investment",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorCompanyRoleReserveVO" : {
      "type" : "object",
      "title" : "ActorCompanyRoleReserveVO",
          "properties" : {
            "aprmtimpayeht" : {
            "readOnly" : false,
"description" : "Unpaid amount tax excluded on the period",
"type" : "number"
            },
            "aprsectgestion" : {
            "readOnly" : false,
"description" : "Management department",
"type" : "string"
            },
            "aprordre" : {
            "readOnly" : false,
"description" : "Occurence Record ID of the reserve per role per actor",
"type" : "number"
            },
            "rolcode" : {
            "readOnly" : false,
"description" : "Role code (coming from ROLE.ROLCODE)",
"type" : "string"
            },
            "aprmtppa" : {
            "readOnly" : false,
"description" : "Prepaid income on the period",
"type" : "number"
            },
            "aprcontexte" : {
            "readOnly" : false,
"description" : "Contexte",
"type" : "string"
            },
            "devcode" : {
            "readOnly" : false,
"description" : "Contract currency code",
"type" : "string"
            },
            "aprmtimpayetaxe" : {
            "readOnly" : false,
"description" : "Unpaid tax amount on the period",
"type" : "number"
            },
            "aprmtprovfinan" : {
            "readOnly" : false,
"description" : "Total financial reserve on the period",
"type" : "number"
            },
            "actcodegestion" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aprmtprovfisc" : {
            "readOnly" : false,
"description" : "Total fiscal reserve on the period",
"type" : "number"
            },
            "aprmtgaranti" : {
            "readOnly" : false,
"description" : "Guaranteed amount on the period if security syndication is called",
"type" : "number"
            },
            "aprmtdepotgaranti" : {
            "readOnly" : false,
"description" : "Guarantee down payment in the period",
"type" : "number"
            },
            "aprmtsaisisurete" : {
            "readOnly" : false,
"description" : "Keyed in amount of securities",
"type" : "number"
            },
            "aprdtcompta" : {
            "readOnly" : false,
"description" : "Accounting date",
"type" : "string"
            },
            "dosnum" : {
            "readOnly" : false,
"description" : "External ID of the contract (the one shown in Back Office) - Contract reference-DOSSIER.DOSNUM",
"type" : "string"
            },
            "aprmtimpayettc" : {
            "readOnly" : false,
"description" : "Tax inclusive upaid amount on the period",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorCompanyRoleVO" : {
      "type" : "object",
      "title" : "ActorCompanyRoleVO",
          "properties" : {
            "aagmotifnonrelance" : {
            "readOnly" : false,
"description" : "Reason for not sending reminders",
"type" : "string"
            },
            "tmpcode" : {
            "readOnly" : false,
"description" : "Payment method code",
"type" : "string"
            },
            "aagjour" : {
            "readOnly" : false,
"description" : "Number of days or fixed day in the month",
"type" : "number"
            },
            "actcodegestion" : {
            "readOnly" : false,
"description" : "External code for Company",
"type" : "string"
            },
            "taxcode" : {
            "readOnly" : false,
"description" : "Rate code",
"type" : "string"
            },
            "aagirseuilretard" : {
            "readOnly" : false,
"description" : "Late payment interest trigger",
"type" : "number"
            },
            "aagflagirfacsepare" : {
            "readOnly" : false,
"description" : "Flag invoicing on a separate invoice",
"type" : "boolean"
            },
            "tcicode" : {
            "readOnly" : false,
"description" : "Late charges interest calculation code",
"type" : "string"
            },
            "aagblocagerelance" : {
            "readOnly" : false,
"description" : "Inhibition of reminders",
"type" : "string"
            },
            "aagdtvalid" : {
            "readOnly" : false,
"description" : "Validity date",
"type" : "string"
            },
            "aagflagirchq" : {
            "readOnly" : false,
"description" : "Flag payment to be forced to cheque",
"type" : "boolean"
            },
            "aagirtxfixe" : {
            "readOnly" : false,
"description" : "Fixed rate for late payment interests",
"type" : "number"
            },
            "aagtxirplafond" : {
            "readOnly" : false,
"description" : "Cap rate",
"type" : "number"
            },
            "aagpctirforfait" : {
            "readOnly" : false,
"description" : "Percentage applied to outanding receivables",
"type" : "number"
            },
            "aagirdelaipmt" : {
            "readOnly" : false,
"description" : "Late payment interest payment delay",
"type" : "number"
            },
            "aagmtirforfait" : {
            "readOnly" : false,
"description" : "Lump sum penalty for late payment interests",
"type" : "number"
            },
            "aagirdelaitolerance" : {
            "readOnly" : false,
"description" : "Late payment interests tolerance",
"type" : "number"
            },
            "listactorroleattribute" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorRoleAttributeVO"
}
            },
            "aagbasedepart" : {
            "readOnly" : false,
"description" : "Start basis",
"type" : "string"
            },
            "aagdelaipmt" : {
            "readOnly" : false,
"description" : "Grace period for payment",
"type" : "string"
            },
            "aagdtfin" : {
            "readOnly" : false,
"description" : "End date of use",
"type" : "string"
            },
            "aagtxirplancher" : {
            "readOnly" : false,
"description" : "Collar rate",
"type" : "number"
            },
            "aagirmarge" : {
            "readOnly" : false,
"description" : "Margin on late payment interests",
"type" : "number"
            },
            "aagpctescompte" : {
            "readOnly" : false,
"description" : "Early payment rebate",
"type" : "number"
            },
            "aagfmtirminimal" : {
            "readOnly" : false,
"description" : "Minimum basis for late payment interests",
"type" : "number"
            },
            "rolcode" : {
            "readOnly" : false,
"description" : "Role code",
"type" : "string"
            },
            "aagenvoinotice" : {
            "readOnly" : false,
"description" : "Notices means of transfer",
"type" : "string"
            },
            "rubcode" : {
            "readOnly" : false,
"description" : "Process allocation code",
"type" : "string"
            },
            "aagflagirfacture" : {
            "readOnly" : false,
"description" : "Flag late payment",
"type" : "boolean"
            },
            "actidgestion" : {
            "readOnly" : false,
"description" : "Company actor ID",
"type" : "number"
            },
            "tmpcodeenc" : {
            "readOnly" : false,
"description" : "Payment method code to cash in",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorComplementVO" : {
      "type" : "object",
      "title" : "ActorComplementVO",
          "properties" : {
            "devcode" : {
            "readOnly" : false,
"description" : "Contract currency code",
"type" : "string"
            },
            "acomtimmobilier" : {
            "readOnly" : false,
"description" : "Real estate value",
"type" : "number"
            },
            "acomtfinancier" : {
            "readOnly" : false,
"description" : "Value of financial asset",
"type" : "number"
            },
            "aconbproduit" : {
            "readOnly" : false,
"description" : "Number of products put to market",
"type" : "number"
            },
            "aconbjourgreve" : {
            "readOnly" : false,
"description" : "Number of days of strike",
"type" : "number"
            },
            "acomtapprehendable" : {
            "readOnly" : false,
"description" : "Value of sizable asset",
"type" : "number"
            },
            "acopctcapitalbourse" : {
            "readOnly" : false,
"description" : "Percentage of capital available at stock exchange",
"type" : "number"
            },
            "aconbcdd" : {
            "readOnly" : false,
"description" : "Number of employees on part time contract",
"type" : "number"
            },
            "acomtca" : {
            "readOnly" : false,
"description" : "Amount of the turnover",
"type" : "number"
            },
            "acopctturnover" : {
            "readOnly" : false,
"description" : "Percentage of employee turnover",
"type" : "number"
            },
            "tefclasse" : {
            "readOnly" : false,
"description" : "Report class",
"type" : "string"
            },
            "acoexercice" : {
            "readOnly" : false,
"description" : "Fiscal year",
"type" : "number"
            },
            "acomtmobilier" : {
            "readOnly" : false,
"description" : "Value of asset without real estate",
"type" : "number"
            },
            "aconbsalarie" : {
            "readOnly" : false,
"description" : "Number of employees",
"type" : "number"
            },
            "acoflagpaysrisque" : {
            "readOnly" : false,
"description" : "Flag business type in an unsafe country",
"type" : "boolean"
            },
            "acomtresultat" : {
            "readOnly" : false,
"description" : "Balance sheet's bottom line",
"type" : "number"
            },
            "aconbbrevet" : {
            "readOnly" : false,
"description" : "Number of Patents held    ",
"type" : "number"
            },
            "acoflagagrement" : {
            "readOnly" : false,
"description" : "Flag administrative agreement to pursue this business type",
"type" : "boolean"
            },
            "aconbrd" : {
            "readOnly" : false,
"description" : "Numbers of employees in R and D",
"type" : "number"
            },
            "acoflaggrave" : {
            "readOnly" : false,
"description" : "Flag Serious disturbance exists",
"type" : "boolean"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorContactNoteVO" : {
      "type" : "object",
      "title" : "ActorContactNoteVO",
          "properties" : {
            "acoordre" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACOORDRE  Actor's correspondant's occurrence number",
"type" : "number"
            },
            "acotitre" : {
            "readOnly" : false,
"description" : "Position within the actor ",
"type" : "string"
            },
            "notmemo" : {
            "readOnly" : false,
"description" : "Note memo",
"type" : "string"
            },
            "acoqualite" : {
            "readOnly" : false,
"description" : "Title of the correspondant",
"type" : "string"
            },
            "dosnum" : {
            "readOnly" : false,
"description" : "External ID of the contract (the one shown in Back Office) ",
"type" : "string"
            },
            "numid" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "acnrelation" : {
            "readOnly" : false,
"description" : " Relation of responded person",
"type" : "string"
            },
            "facid" : {
            "readOnly" : false,
"description" : "Receivable ID (coming from FACTURE.FACID)",
"type" : "number"
            },
            "dtnotesup" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "acoordreString" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "utinom" : {
            "readOnly" : false,
"description" : "User name (coming from UTILISATEUR.utinom)",
"type" : "string"
            },
            "acntype" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNTYPE Type of contact",
"type" : "string"
            },
            "regmt" : {
            "readOnly" : false,
"description" : "Amount",
"type" : "number"
            },
            "tpgcode" : {
            "readOnly" : false,
"description" : "Product code (coming from TPROFILGESTION.TPGCODE)",
"type" : "string"
            },
            "acncharacter" : {
            "readOnly" : false,
"description" : " Character for the note",
"type" : "string"
            },
            "uticode" : {
            "readOnly" : false,
"description" : "ACTCONTACT.uticode  User code (coming from UTILISATEUR.UTICODE)",
"type" : "string"
            },
            "dosavenant" : {
            "readOnly" : false,
"description" : "Amendment number",
"type" : "number"
            },
            "depid" : {
            "readOnly" : false,
"description" : "Expense ID (coming from DEPENSE.DEPID)",
"type" : "number"
            },
            "listcontacttopic" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ContactTopicVO"
}
            },
            "dptcode" : {
            "readOnly" : false,
"description" : "Department code",
"type" : "string"
            },
            "acndtdeb" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNDTDEB Start date of contract",
"type" : "string"
            },
            "acochannel" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACOCHANNEL ",
"type" : "string"
            },
            "dptlabel" : {
            "readOnly" : false,
"description" : "Department label",
"type" : "string"
            },
            "comid" : {
            "readOnly" : false,
"description" : " Purchase order ID",
"type" : "number"
            },
            "acnresultlevel3" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNRESULTLVL3 ",
"type" : "string"
            },
            "acncsltype" : {
            "readOnly" : false,
"description" : " Counseling type",
"type" : "string"
            },
            "notid" : {
            "readOnly" : false,
"description" : "Note ID : NOTE.NOTID",
"type" : "number"
            },
            "actid" : {
            "readOnly" : false,
"description" : " Actor ID  ",
"type" : "number"
            },
            "taccode" : {
            "readOnly" : false,
"description" : "Contract business type code (coming from TACTIVITE.TACCODE)",
"type" : "string"
            },
            "acnduration" : {
            "readOnly" : false,
"description" : " Duration of call",
"type" : "number"
            },
            "regid" : {
            "readOnly" : false,
"description" : " Payment ID (coming from REGLEMENT.REGID)",
"type" : "number"
            },
            "acnmethod" : {
            "readOnly" : false,
"description" : "ACTCONTACT.acnmethod  Method of the contact (phone, e",
"type" : "string"
            },
            "acncslnumber" : {
            "readOnly" : false,
"description" : " Counseling number",
"type" : "string"
            },
            "chaid" : {
            "readOnly" : false,
"description" : " Construction ID (coming from CHANTIER.CHAID)",
"type" : "number"
            },
            "acntarnumber" : {
            "readOnly" : false,
"description" : "Target number",
"type" : "string"
            },
            "acnordre" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNORDRE Contact occurrence number",
"type" : "number"
            },
            "acnresperson" : {
            "readOnly" : false,
"description" : " Relation of responded person",
"type" : "string"
            },
            "acnsrcnumber" : {
            "readOnly" : false,
"description" : " Source number",
"type" : "string"
            },
            "regdtsaisie" : {
            "readOnly" : false,
"description" : "Date of entry",
"type" : "string"
            },
            "bimid" : {
            "readOnly" : false,
"description" : " Property ID coming from BIENIMMOBILIER.BIMID ",
"type" : "number"
            },
            "dosid" : {
            "readOnly" : false,
"description" : "ACTCONTACT.DOSID  Contract of file ID",
"type" : "number"
            },
            "notimportance" : {
            "readOnly" : false,
"description" : " Importance of the note ",
"type" : "string"
            },
            "dtnoteinf" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "acnresultlevel2" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNRESULTLVL2 ",
"type" : "string"
            },
            "acnmemo" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNMEMO Comment",
"type" : "string"
            },
            "regdtreglt" : {
            "readOnly" : false,
"description" : "cash flow date",
"type" : "string"
            },
            "itrid" : {
            "readOnly" : false,
"description" : " Asset ID (coming from IMMOTRANCHE.ITRID)",
"type" : "number"
            },
            "aconom" : {
            "readOnly" : false,
"description" : "Last name of the correspondant",
"type" : "string"
            },
            "acnreply" : {
            "readOnly" : false,
"description" : "ACTCONTACT.acnreply  Reply of the correspondant ",
"type" : "string"
            },
            "notconfidentiality" : {
            "readOnly" : false,
"description" : "Confidentiality type",
"type" : "string"
            },
            "acnresultlevel1" : {
            "readOnly" : false,
"description" : "ACTCONTACT.ACNRESULTLVL1 ",
"type" : "string"
            },
            "acnconfidentiality" : {
            "readOnly" : false,
"description" : " Confidentiality type",
"type" : "string"
            },
            "tmpcode" : {
            "readOnly" : false,
"description" : "Payment method code (coming from TMOYENPMT.TMPCODE)",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorContactVO" : {
      "type" : "object",
      "title" : "ActorContactVO",
          "properties" : {
            "acoordre" : {
            "readOnly" : false,
"description" : "Actor's correspondant's occurrence number",
"type" : "number"
            },
            "acoforeignname" : {
            "readOnly" : false,
"description" : "Foreign name of the contact",
"type" : "string"
            },
            "actsiret" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTSIRET",
"type" : "string"
            },
            "acosiret" : {
            "readOnly" : false,
"description" : "National Identification Code of contact",
"type" : "string"
            },
            "acocontactcode" : {
            "readOnly" : false,
"description" : "Customer contact result",
"type" : "string"
            },
            "acodecision" : {
            "readOnly" : false,
"description" : "Power of decision of the contact",
"type" : "string"
            },
            "listlinkactorcontacttelecom" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_LinkActorContactTelecomVO"
}
            },
            "listcustomcharacteristic" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomCharacteristicVO"
}
            },
            "acoqualifclass" : {
            "readOnly" : false,
"description" : "Qualification class",
"type" : "string"
            },
            "acocontrolcode" : {
            "readOnly" : false,
"description" : "Customer contact success",
"type" : "string"
            },
            "actnom" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTNOM",
"type" : "string"
            },
            "acoflagwedding" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "acodtbirthday" : {
            "readOnly" : false,
"description" : "Birthday of the contact",
"type" : "string"
            },
            "acoprenom" : {
            "readOnly" : false,
"description" : "First name of the correspondant",
"type" : "string"
            },
            "acoqualifclasslabel" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aconom" : {
            "readOnly" : false,
"description" : "Last name of the correspondant",
"type" : "string"
            },
            "acoqualification" : {
            "readOnly" : false,
"description" : "Qualification of the contact",
"type" : "string"
            },
            "acodtend" : {
            "readOnly" : false,
"description" : "End date",
"type" : "string"
            },
            "actlibcourt" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTLIBCOURT",
"type" : "string"
            },
            "acoqualite" : {
            "readOnly" : false,
"description" : "Title of the correspondant",
"type" : "string"
            },
            "acoinitialautreprenom" : {
            "readOnly" : false,
"description" : "Middle initials",
"type" : "string"
            },
            "listlinkactorcontactaddress" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_LinkActorContactAddressVO"
}
            },
            "acotitre" : {
            "readOnly" : false,
"description" : "Position within the actor ",
"type" : "string"
            },
            "acodtstart" : {
            "readOnly" : false,
"description" : "Start date",
"type" : "string"
            },
            "acomemo" : {
            "readOnly" : false,
"description" : "Remarks about the contact",
"type" : "string"
            },
            "acocharacter" : {
            "readOnly" : false,
"description" : "Character of the contact",
"type" : "string"
            },
            "acosex" : {
            "readOnly" : false,
"description" : "Sex of the contact",
"type" : "number"
            },
            "acocalbirthday" : {
            "readOnly" : false,
"description" : "Birthday calendar",
"type" : "string"
            },
            "actidemployer" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "acoflagprefere" : {
            "readOnly" : false,
"description" : "If this correspondant is the main one",
"type" : "boolean"
            },
            "acodtwedding" : {
            "readOnly" : false,
"description" : "Date of the contact's wedding",
"type" : "string"
            },
            "actlibourt" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTLIBCOURT",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorDescendingRelationshipVO" : {
      "type" : "object",
      "title" : "ActorDescendingRelationshipVO",
          "properties" : {
            "actdtcreat" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTDTCREAT",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTID",
"type" : "number"
            },
            "trecode" : {
            "readOnly" : false,
"description" : "Relation code (coming from TRELATION.TRECODE)",
"type" : "string"
            },
            "actcode" : {
            "readOnly" : false,
"description" : " Actor code for actid",
"type" : "string"
            },
            "actidrelation" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "aggid" : {
            "readOnly" : false,
"description" : "Aggregate ID",
"type" : "number"
            },
            "aredtfin" : {
            "readOnly" : false,
"description" : "Validity end date",
"type" : "string"
            },
            "actcoderelation" : {
            "readOnly" : false,
"description" : " Actor code for actidrelation",
"type" : "string"
            },
            "listactorrelationshipattribute" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorRelationshipAttributeVO"
}
            },
            "trelibelledesc" : {
            "readOnly" : false,
"description" : " Description for descending order hierarchy",
"type" : "string"
            },
            "areqp" : {
            "readOnly" : false,
"description" : "Percentage of shares",
"type" : "number"
            },
            "actsiret" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTSIRET",
"type" : "string"
            },
            "aredtdeb" : {
            "readOnly" : false,
"description" : "Validity start date",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorFinancialdataVO" : {
      "type" : "object",
      "title" : "ActorFinancialdataVO",
          "properties" : {
            "devcode" : {
            "readOnly" : false,
"description" : " Currency code",
"type" : "string"
            },
            "afdmtpaidmonthtax" : {
            "readOnly" : false,
"description" : " Monthly income tax paid",
"type" : "number"
            },
            "afdmtalimonypaid" : {
            "readOnly" : false,
"description" : " Alimony paid",
"type" : "number"
            },
            "afdnbloan" : {
            "readOnly" : false,
"description" : " Number of loans",
"type" : "number"
            },
            "afdyear" : {
            "readOnly" : false,
"description" : " Fiscal year",
"type" : "number"
            },
            "afddtcreation" : {
            "readOnly" : false,
"description" : " Creation date",
"type" : "string"
            },
            "paycodeemployer" : {
            "readOnly" : false,
"description" : " Employer's country",
"type" : "string"
            },
            "afdmtloanpaid" : {
            "readOnly" : false,
"description" : " Rental paid",
"type" : "number"
            },
            "afdorder" : {
            "readOnly" : false,
"description" : " Order",
"type" : "number"
            },
            "afdmtrentpaid" : {
            "readOnly" : false,
"description" : " Rental paid",
"type" : "number"
            },
            "actid" : {
            "readOnly" : false,
"description" : " Actor Id",
"type" : "number"
            },
            "afdmtrealestateincome" : {
            "readOnly" : false,
"description" : " Real estate income",
"type" : "number"
            },
            "afdmtotherpaid" : {
            "readOnly" : false,
"description" : " Mortgage loan reimbursemen",
"type" : "number"
            },
            "afdemployerpostalcode" : {
            "readOnly" : false,
"description" : " Employer's postal code",
"type" : "string"
            },
            "afdemployeraddress1" : {
            "readOnly" : false,
"description" : "APAFINANCIALDATA.AFDEMPLOYERADDRESS1 ",
"type" : "string"
            },
            "afdmtexpense" : {
            "readOnly" : false,
"description" : " Annual household expense",
"type" : "number"
            },
            "afdmtalimonyincome" : {
            "readOnly" : false,
"description" : " Alimony income",
"type" : "number"
            },
            "afdmtotherincome" : {
            "readOnly" : false,
"description" : " Other income",
"type" : "number"
            },
            "afdemployeraddress2" : {
            "readOnly" : false,
"description" : "APAFINANCIALDATA.AFDEMPLOYERADDRESS2 ",
"type" : "string"
            },
            "afdemployercity" : {
            "readOnly" : false,
"description" : " Employer's city",
"type" : "string"
            },
            "afdmtwageincome" : {
            "readOnly" : false,
"description" : " Wage income",
"type" : "number"
            },
            "afdemployerphone" : {
            "readOnly" : false,
"description" : " Employer's phone",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorFiscalYearVO" : {
      "type" : "object",
      "title" : "ActorFiscalYearVO",
          "properties" : {
            "aextypecloture" : {
            "readOnly" : false,
"description" : "Type of closure",
"type" : "string"
            },
            "aexmtmindvd" : {
            "readOnly" : false,
"description" : "Minimum dividend yield for shareholders",
"type" : "number"
            },
            "aexmoisdeb" : {
            "readOnly" : false,
"description" : "First month in fiscal year",
"type" : "number"
            },
            "aexmoisfin" : {
            "readOnly" : false,
"description" : "Last month in fiscal year",
"type" : "number"
            },
            "aexdtsaisie" : {
            "readOnly" : false,
"description" : "Fiscal year closure",
"type" : "string"
            },
            "devcode" : {
            "readOnly" : false,
"description" : "Contract currency code",
"type" : "string"
            },
            "aexpctrecuptvap" : {
            "readOnly" : false,
"description" : "Provisory percentage of VAT refund",
"type" : "number"
            },
            "aexpctrecuptvad" : {
            "readOnly" : false,
"description" : "Definitive percentage of VAT refund",
"type" : "number"
            },
            "aexdtvatfrom" : {
            "readOnly" : false,
"description" : "Date VAT from",
"type" : "string"
            },
            "aexanneefin" : {
            "readOnly" : false,
"description" : "End year of fiscal year",
"type" : "number"
            },
            "aexanneedeb" : {
            "readOnly" : false,
"description" : "Start year of fiscal year",
"type" : "number"
            },
            "aexmtcompanyvalue" : {
            "readOnly" : false,
"description" : "Estimated value of company at fiscal year end",
"type" : "number"
            },
            "aexdtcloture" : {
            "readOnly" : false,
"description" : "Date of closure",
"type" : "string"
            },
            "aexexercice" : {
            "readOnly" : false,
"description" : "Fiscal year",
"type" : "number"
            },
            "aexnbmoisouvert" : {
            "readOnly" : false,
"description" : "Number of months opened since the last fiscal year closure",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorIndividualFinancialDataVO" : {
      "type" : "object",
      "title" : "ActorIndividualFinancialDataVO",
          "properties" : {
            "ajhorder" : {
            "readOnly" : false,
"description" : "code coming from ACTJOBHISTORY.AJHORDER",
"type" : "number"
            },
            "afdmtchildbenefit" : {
            "readOnly" : false,
"description" : "Child benefit",
"type" : "number"
            },
            "afdmtbonus" : {
            "readOnly" : false,
"description" : "Bonus",
"type" : "number"
            },
            "afdwageincomeperiod" : {
            "readOnly" : false,
"description" : "Wage income period",
"type" : "string"
            },
            "afdnbloan" : {
            "readOnly" : false,
"description" : "Number of loans",
"type" : "number"
            },
            "afdyear" : {
            "readOnly" : false,
"description" : "Fiscal year",
"type" : "number"
            },
            "afdemployeraddress1" : {
            "readOnly" : false,
"description" : "APAFINANCIALDATA.AFDEMPLOYERADDRESS1",
"type" : "string"
            },
            "afdmtalimonypaid" : {
            "readOnly" : false,
"description" : "Alimony paid",
"type" : "number"
            },
            "actid" : {
            "readOnly" : false,
"description" : "code coming from ACTEURPARTICULIER.ACTID",
"type" : "number"
            },
            "afdemployercity" : {
            "readOnly" : false,
"description" : "Employer's city",
"type" : "string"
            },
            "afdmtrealestateincome" : {
            "readOnly" : false,
"description" : "Real estate income",
"type" : "number"
            },
            "afdmtrentpaid" : {
            "readOnly" : false,
"description" : "Rental paid",
"type" : "number"
            },
            "afdemployerpostalcode" : {
            "readOnly" : false,
"description" : "Employer's postal code",
"type" : "string"
            },
            "afdmtloanpaid" : {
            "readOnly" : false,
"description" : "Mortgage loan reimbursements",
"type" : "number"
            },
            "afdorder" : {
            "readOnly" : false,
"description" : "Occurence order",
"type" : "number"
            },
            "afdmtotherpaid" : {
            "readOnly" : false,
"description" : "Other loan reimbursements",
"type" : "number"
            },
            "afdmtalimonyincome" : {
            "readOnly" : false,
"description" : "Alimony income",
"type" : "number"
            },
            "afdemployeraddress2" : {
            "readOnly" : false,
"description" : "APAFINANCIALDATA.AFDEMPLOYERADDRESS2",
"type" : "string"
            },
            "afdmtotherincome" : {
            "readOnly" : false,
"description" : "Other income",
"type" : "number"
            },
            "afdemployerphone" : {
            "readOnly" : false,
"description" : "Employer's phone",
"type" : "string"
            },
            "afddtcreation" : {
            "readOnly" : false,
"description" : "APAFINANCIALDATA.AFDDTCREATION",
"type" : "string"
            },
            "paycodeemployer" : {
            "readOnly" : false,
"description" : "code coming from PAYS.PAYCODEEMPLOYER",
"type" : "string"
            },
            "devcode" : {
            "readOnly" : false,
"description" : "code coming from DEVISE.DEVCODE",
"type" : "string"
            },
            "afdmtwageincome" : {
            "readOnly" : false,
"description" : "Wage income",
"type" : "number"
            },
            "afdmtpaidmonthtax" : {
            "readOnly" : false,
"description" : "Monthly income tax paid",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorIndividualIdentityDocumentVO" : {
      "type" : "object",
      "title" : "ActorIndividualIdentityDocumentVO",
          "properties" : {
            "actid" : {
            "readOnly" : false,
"description" : "code coming from ACTEUR.ACTID",
"type" : "number"
            },
            "dmaid" : {
            "readOnly" : false,
"description" : "code coming from DOCUMENTMANAGEMENT.DMAID",
"type" : "number"
            },
            "aidissuer" : {
            "readOnly" : false,
"description" : "Issuer",
"type" : "string"
            },
            "aiddtexpiration" : {
            "readOnly" : false,
"description" : " Expiration date",
"type" : "string"
            },
            "aidtype" : {
            "readOnly" : false,
"description" : "Identity document type",
"type" : "string"
            },
            "aiddtissue" : {
            "readOnly" : false,
"description" : " Issue date",
"type" : "string"
            },
            "aiddocumentid" : {
            "readOnly" : false,
"description" : "ID of the document",
"type" : "string"
            },
            "aidorder" : {
            "readOnly" : false,
"description" : " Identity document order",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorJobHistoryVO" : {
      "type" : "object",
      "title" : "ActorJobHistoryVO",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractBaseVO"
        },
        {
          "properties" : {
            "ajhtaxidemployer" : {
            "readOnly" : false,
"description" : "Employer fiscal number",
"type" : "string"
            },
            "ajhoccupation" : {
            "readOnly" : false,
"description" : "Sorting Order",
"type" : "string"
            },
            "ajhnafcodeemployer" : {
            "readOnly" : false,
"description" : "Employer NAF code (French normalized activities)",
"type" : "string"
            },
            "ajhdtend" : {
            "readOnly" : false,
"description" : "Resignation date",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "ajhbuscareercode" : {
            "readOnly" : false,
"description" : "Planer business career code",
"type" : "string"
            },
            "listcustomcharacteristic" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomCharacteristicVO"
}
            },
            "ajhbranch" : {
            "readOnly" : false,
"description" : "Branch (free text)",
"type" : "string"
            },
            "ajhnameemployer" : {
            "readOnly" : false,
"description" : "Name employer",
"type" : "string"
            },
            "ajhorder" : {
            "readOnly" : false,
"description" : "Job history order",
"type" : "number"
            },
            "ajhsectoremployer" : {
            "readOnly" : false,
"description" : "Sector of employer",
"type" : "string"
            },
            "ajhdtbeg" : {
            "readOnly" : false,
"description" : "Start date",
"type" : "string"
            },
            "ajhentitytype" : {
            "readOnly" : false,
"description" : "Entity type",
"type" : "string"
            },
            "ajhincomedetail" : {
            "readOnly" : false,
"description" : "Income details",
"type" : "string"
            },
            "ajhdepartment" : {
            "readOnly" : false,
"description" : "Department (free text)",
"type" : "string"
            },
            "ajhendreason" : {
            "readOnly" : false,
"description" : "Resignation reason",
"type" : "string"
            },
            "ajhtypeincome" : {
            "readOnly" : false,
"description" : "Type of income",
"type" : "string"
            },
            "ajhcompany" : {
            "readOnly" : false,
"description" : "Company (free text)",
"type" : "string"
            },
            "ajhcountryemployer" : {
            "readOnly" : false,
"description" : "Country of employer",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ActorLegalProceedingCompanyVO" : {
      "type" : "object",
      "title" : "ActorLegalProceedingCompanyVO",
          "properties" : {
            "apgflagdossuite" : {
            "readOnly" : false,
"description" : "Flag continuation of contracts",
"type" : "boolean"
            },
            "apgflagconteste" : {
            "readOnly" : false,
"description" : "Flag contestation of bad debts lists",
"type" : "boolean"
            },
            "apgdtdemeure" : {
            "readOnly" : false,
"description" : "Date of summons",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "actlibcourt" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTLIBCOURT",
"type" : "string"
            },
            "apgmtavance" : {
            "readOnly" : false,
"description" : "Receivables in advance within bad debt",
"type" : "number"
            },
            "actsiret" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTSIRET",
"type" : "string"
            },
            "apgdtcreance" : {
            "readOnly" : false,
"description" : "Date of production of bad debt",
"type" : "string"
            },
            "apgmttotal" : {
            "readOnly" : false,
"description" : "Total value of bad debt",
"type" : "number"
            },
            "apgdtreprisecle" : {
            "readOnly" : false,
"description" : "Date of keys retrieval",
"type" : "string"
            },
            "actidgestion" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "apgsolution" : {
            "readOnly" : false,
"description" : "Preferred way to resolv the conflict ",
"type" : "string"
            },
            "apgmemo" : {
            "readOnly" : false,
"description" : "Memo",
"type" : "string"
            },
            "apgmtechu" : {
            "readOnly" : false,
"description" : "Receivable at maturity date within bad debt",
"type" : "number"
            },
            "apgflagbailsuite" : {
            "readOnly" : false,
"description" : "Flag continuation of rents",
"type" : "boolean"
            },
            "apgdtadmission" : {
            "readOnly" : false,
"description" : "Date of acceptance of bad debts",
"type" : "string"
            },
            "devcode" : {
            "readOnly" : false,
"description" : "Currency code",
"type" : "string"
            },
            "apgflagadmission" : {
            "readOnly" : false,
"description" : "Flag acceptance of bad debts",
"type" : "boolean"
            },
            "aprordre" : {
            "readOnly" : false,
"description" : "Running order of legal proceeding",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorLegalProceedingJudgmentVO" : {
      "type" : "object",
      "title" : "ActorLegalProceedingJudgmentVO",
          "properties" : {
            "apjdtdeb" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "apjdureemois" : {
            "readOnly" : false,
"description" : "Effective period of the court decision in terms of months",
"type" : "number"
            },
            "apjtype" : {
            "readOnly" : false,
"description" : "Type of court involved",
"type" : "string"
            },
            "apjtypelibelle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "apjdureean" : {
            "readOnly" : false,
"description" : "Effective period of the court decision in terms of years",
"type" : "number"
            },
            "aprordre" : {
            "readOnly" : false,
"description" : "Running order of legal proceeding",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorLegalProceedingMandateVO" : {
      "type" : "object",
      "title" : "ActorLegalProceedingMandateVO",
          "properties" : {
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "actidmandat" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "actmandatsiret" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aprtype" : {
            "readOnly" : false,
"description" : "Type of legal proceeding",
"type" : "string"
            },
            "actmandatcode" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aprordre" : {
            "readOnly" : false,
"description" : "Running order of legal proceeding",
"type" : "number"
            },
            "apmtypelibelle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "apmtype" : {
            "readOnly" : false,
"description" : "Type of mandate of the event change proceedings",
"type" : "string"
            },
            "actmandatlibcourt" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorLegalProceedingPhaseVO" : {
      "type" : "object",
      "title" : "ActorLegalProceedingPhaseVO",
          "properties" : {
            "jalcode" : {
            "readOnly" : false,
"description" : "Step code (coming from JALON.JALCODE)",
"type" : "string"
            },
            "aprordre" : {
            "readOnly" : false,
"description" : "Running order of legal proceeding",
"type" : "number"
            },
            "appdtdeb" : {
            "readOnly" : false,
"description" : "Date of adding the status to legal proceeding",
"type" : "string"
            },
            "creid" : {
            "readOnly" : false,
"description" : "Event's ID (coming from CREVT.CREID",
"type" : "number"
            },
            "appdtfin" : {
            "readOnly" : false,
"description" : "Date of ending a status of legal proceeding.",
"type" : "string"
            },
            "appordre" : {
            "readOnly" : false,
"description" : "Running order of the proceeding status",
"type" : "number"
            },
            "phacode" : {
            "readOnly" : false,
"description" : "Phase code ('INI' for initial, 'ACTIVE' when the actor has currently contracts in operation, etcu2026)",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "phadest" : {
            "readOnly" : false,
"description" : "Entity destination code of the phase",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorLegalProceedingVO" : {
      "type" : "object",
      "title" : "ActorLegalProceedingVO",
          "properties" : {
            "codeentite" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aprtransaction" : {
            "readOnly" : false,
"description" : "Deal on proceedings",
"type" : "string"
            },
            "aprtypetribunal" : {
            "readOnly" : false,
"description" : "Type of court",
"type" : "string"
            },
            "aprtype" : {
            "readOnly" : false,
"description" : "Type of legal proceeding",
"type" : "string"
            },
            "tevdest" : {
            "readOnly" : false,
"description" : "Event entity destination (coming from TEVENEMENT)",
"type" : "string"
            },
            "aprdtdeb" : {
            "readOnly" : false,
"description" : "Date of adding the legal proceeding details in the system",
"type" : "string"
            },
            "numidentite" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "aprflagdemandeur" : {
            "readOnly" : false,
"description" : "Indicates if the legal case was filed by the company or by the customer",
"type" : "boolean"
            },
            "listactorlegalproceedingphase" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorLegalProceedingPhaseVO"
}
            },
            "aprtypemission" : {
            "readOnly" : false,
"description" : "Mission type",
"type" : "string"
            },
            "listactorproceedingcompany" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorLegalProceedingCompanyVO"
}
            },
            "aprdtfin" : {
            "readOnly" : false,
"description" : "Date of ending the legal proceedings",
"type" : "string"
            },
            "listactorlegalproceedingmandate" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorLegalProceedingMandateVO"
}
            },
            "creid" : {
            "readOnly" : false,
"description" : "Event's ID (coming from CREVT.CREID",
"type" : "number"
            },
            "aprmemoaccedit" : {
            "readOnly" : false,
"description" : "Memo on experts reports",
"type" : "string"
            },
            "listactorlegalproceedingjudgment" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorLegalProceedingJudgmentVO"
}
            },
            "libentite" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "aprnum" : {
            "readOnly" : false,
"description" : "Any reference text that is related to legal proceedings",
"type" : "string"
            },
            "aprniveaurisque" : {
            "readOnly" : false,
"description" : "Type of risk related to the legal proceedings",
"type" : "string"
            },
            "aprmemofait" : {
            "readOnly" : false,
"description" : "Details of legal proceedings",
"type" : "string"
            },
            "dosavenant" : {
            "readOnly" : false,
"description" : "Amendment number",
"type" : "number"
            },
            "aprordre" : {
            "readOnly" : false,
"description" : "Running order of legal proceeding",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorManagementDepartmentVO" : {
      "type" : "object",
      "title" : "ActorManagementDepartmentVO",
          "properties" : {
            "actsectgestion" : {
            "readOnly" : false,
"description" : "Management department",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorNonhierarchicalRelationshipVO" : {
      "type" : "object",
      "title" : "ActorNonhierarchicalRelationshipVO",
          "properties" : {
            "apedtdeb" : {
            "readOnly" : false,
"description" : "Start date",
"type" : "string"
            },
            "apecode" : {
            "readOnly" : false,
"description" : "Commercial or group name",
"type" : "string"
            },
            "aggid" : {
            "readOnly" : false,
"description" : "Aggregate ID only for Front Office",
"type" : "number"
            },
            "apedtfin" : {
            "readOnly" : false,
"description" : "End date",
"type" : "string"
            },
            "apecodetype" : {
            "readOnly" : false,
"description" : "Non hierarchical relationship between actors like branches tradename etc",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorPhaseVO" : {
      "type" : "object",
      "title" : "ActorPhaseVO",
          "properties" : {
            "phadest" : {
            "readOnly" : false,
"description" : "Entity destination code of the phase",
"type" : "string"
            },
            "jalcode" : {
            "readOnly" : false,
"description" : "Step code (coming from JALON.JALCODE)",
"type" : "string"
            },
            "aphdtfin" : {
            "readOnly" : false,
"description" : "En date for associated phase and step",
"type" : "string"
            },
            "aphordre" : {
            "readOnly" : false,
"description" : "Actor phase occurrence number",
"type" : "number"
            },
            "aphdtmaj" : {
            "readOnly" : false,
"description" : "Entered date for associated phase and step ",
"type" : "string"
            },
            "phacode" : {
            "readOnly" : false,
"description" : "Phase code INI for initial, ACTIVE when the actor has currently contracts in operation ",
"type" : "string"
            },
            "aphdtdeb" : {
            "readOnly" : false,
"description" : "Start date for associated phase and step ",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorRatingVO" : {
      "type" : "object",
      "title" : "ActorRatingVO",
          "properties" : {
            "atvcodeexterne" : {
            "readOnly" : false,
"description" : "Free text format cotation code",
"type" : "string"
            },
            "tvalibelle" : {
            "readOnly" : false,
"description" : "Tvalibelle -Tax label",
"type" : "string"
            },
            "atvetablissementpilote" : {
            "readOnly" : false,
"description" : "Lead subsidiary",
"type" : "string"
            },
            "tcocode" : {
            "readOnly" : false,
"description" : "Rating ID",
"type" : "string"
            },
            "atvdtdeb" : {
            "readOnly" : false,
"description" : "Validity start date of rating",
"type" : "string"
            },
            "atvetablissementcoteur" : {
            "readOnly" : false,
"description" : "Subsidiary doing the rating",
"type" : "string"
            },
            "atvscore" : {
            "readOnly" : false,
"description" : "Score given by subsidiary",
"type" : "number"
            },
            "atvdtmaj" : {
            "readOnly" : false,
"description" : "Update date",
"type" : "string"
            },
            "tcoid" : {
            "readOnly" : false,
"description" : "Type of rating code",
"type" : "number"
            },
            "utinom" : {
            "readOnly" : false,
"description" : "User code (coming from UTILISATEUR.UTICODE)",
"type" : "string"
            },
            "tcolibelle" : {
            "readOnly" : false,
"description" : "Description",
"type" : "string"
            },
            "creid" : {
            "readOnly" : false,
"description" : "Event's ID (coming from CREVT.CREID)",
"type" : "number"
            },
            "tveversion" : {
            "readOnly" : false,
"description" : "Version number",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID",
"type" : "number"
            },
            "atvdtfin" : {
            "readOnly" : false,
"description" : "End date of validity of rating",
"type" : "string"
            },
            "atvordre" : {
            "readOnly" : false,
"description" : "Occurrence number of the rating within the actor (because previous ratings are also stored)",
"type" : "number"
            },
            "atvflagforce" : {
            "readOnly" : false,
"description" : "Flag specifying rating was overridden",
"type" : "boolean"
            },
            "tvacode" : {
            "readOnly" : false,
"description" : "Tax code (coming from TCOVALEUR.TVACODE)",
"type" : "string"
            },
            "tvataux" : {
            "readOnly" : false,
"description" : "Default rate related to the risks",
"type" : "number"
            },
            "atvcomment" : {
            "readOnly" : false,
"description" : "Comment",
"type" : "string"
            },
            "cdamemo" : {
            "readOnly" : false,
"description" : "Memorandum",
"type" : "string"
            },
            "uticode" : {
            "readOnly" : false,
"description" : "User code (coming from UTILISATEUR.UTICODE)",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorRelationshipAttributeVO" : {
      "type" : "object",
      "title" : "ActorRelationshipAttributeVO",
          "properties" : {
            "tatattribute" : {
            "readOnly" : false,
"description" : "Relation attribute",
"type" : "string"
            },
            "adedatevalue" : {
            "readOnly" : false,
"description" : "Property date value",
"type" : "string"
            },
            "tdevalue" : {
            "readOnly" : false,
"description" : "Relation property value",
"type" : "string"
            },
            "adestringvalue" : {
            "readOnly" : false,
"description" : "Property string value",
"type" : "string"
            },
            "adenumericvalue" : {
            "readOnly" : false,
"description" : "Property numeric value",
"type" : "number"
            },
            "tsgcode" : {
            "readOnly" : false,
"description" : "User General statistic Code",
"type" : "string"
            },
            "adeordre" : {
            "readOnly" : false,
"description" : "Occurrence number of this property for the actor",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorRelationshipVO" : {
      "type" : "object",
      "title" : "ActorRelationshipVO",
          "properties" : {
            "actid" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "actcoderelation" : {
            "readOnly" : false,
"description" : " Actor code for actidrelation",
"type" : "string"
            },
            "trecode" : {
            "readOnly" : false,
"description" : "Relation code (coming from TRELATION.TRECODE)",
"type" : "string"
            },
            "aredtfin" : {
            "readOnly" : false,
"description" : "Validity end date",
"type" : "string"
            },
            "actdtcreat" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "aredtdeb" : {
            "readOnly" : false,
"description" : "Validity start date",
"type" : "string"
            },
            "listactorrelationshipattribute" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ActorRelationshipAttributeVO"
}
            },
            "trelibelleasc" : {
            "readOnly" : false,
"description" : "LANTRELATION.TRELIBELLEASC Description for ascending order hierarchy",
"type" : "string"
            },
            "actlibcourt" : {
            "readOnly" : false,
"description" : "ACTEUR.ACTLIBCOURT",
"type" : "string"
            },
            "actsiret" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "aggid" : {
            "readOnly" : false,
"description" : "Aggregate ID",
"type" : "number"
            },
            "actidrelation" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "areqp" : {
            "readOnly" : false,
"description" : "Percentage of shares",
"type" : "number"
            },
            "actcode" : {
            "readOnly" : false,
"description" : " Actor code for actid",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ActorRoleAttributeVO" : {
      "type" : "object",
      "title" : "ActorRoleAttributeVO",
          "properties" : {
            "actcode" : {
            "readOnly" : false,
"description" : "Actor CODE coming from ACTEUR.ACTCODE",
"type" : "string"
            },
            "avemotif" : {
            "readOnly" : false,
"description" : "Reason for switching to incertain status and back",
"type" : "string"
            },
            "dosid" : {
            "readOnly" : false,
"description" : "Contract ID (coming from DOSSIER.DOSID)",
"type" : "number"
            },
            "limitlabel" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "utinom" : {
            "readOnly" : false,
"description" : "User name",
"type" : "string"
            },
            "actid" : {
            "readOnly" : false,
"description" : "Actor ID coming from ACTEUR.ACTID",
"type" : "number"
            },
            "dosidprospect" : {
            "readOnly" : false,
"description" : " Deal or contract ID",
"type" : "number"
            },
            "rvacode" : {
            "readOnly" : false,
"description" : "Variable code (coming from ROLVARIABLE.RVACODE)",
"type" : "string"
            },
            "avedtdeb" : {
            "readOnly" : false,
"description" : "Validity start date of status",
"type" : "string"
            },
            "aveflagdepassement" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "creid" : {
            "readOnly" : false,
[...]
